In [1]:
# import pandas and load the first sheet "Coal consumption"
import pandas as pd
Coal_consumption = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Coal Consumption - EJ', header=None)

In [2]:
Coal_consumption.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Coal: Consumption*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,0.647949,0.635221,0.629360,0.683746,0.660133,0.708742,0.673656,0.635682,0.654690,...,0.824253,0.767152,0.797777,0.654201,0.612643,0.525541,0.479886,-0.084371,-0.064164,0.002997
5,Mexico,0.028880,0.030805,0.037798,0.039623,0.040165,0.045045,0.056551,0.062502,0.067005,...,0.531542,0.520680,0.636310,0.567164,0.541493,0.239368,0.231587,-0.029856,-0.093311,0.001446
6,US,11.607279,12.171046,11.941188,12.359075,12.410055,12.292774,11.625123,12.104731,13.001364,...,15.584680,14.258668,13.869334,13.282051,11.341655,9.202254,10.571573,0.15195,-0.060362,0.06603
7,Total North America,12.284108,12.837073,12.608346,13.082445,13.110353,13.046560,12.355330,12.802915,13.723059,...,16.940475,15.546500,15.303421,14.503416,12.495792,9.967162,11.283046,0.135123,-0.061349,0.070473
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,0.030438,0.025099,0.028225,0.027429,0.032840,0.042201,0.036999,0.031145,0.034187,...,0.056931,0.043879,0.045091,0.049353,0.029246,0.036055,0.065714,0.827591,0.022457,0.00041

In [3]:
print(Coal_consumption.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       115 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      105 non-null    object
 59  59      104 non-null    object
 60  60      105 non-null    object
dtypes: float64(56), object(5)
memory usage: 59.7+ KB
None

In [4]:
print(Coal_consumption.describe())

                1            2            3            4            5   \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     21.286790    21.315631    21.285883    21.331520    21.413642
std     192.602005   192.700343   192.797025   192.896149   192.995688
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000010     0.000049     0.000069     0.000051     0.000065
50%       0.034768     0.035138     0.037519     0.037412     0.037599
75%       0.417957     0.391309     0.389289     0.389561     0.394020
max    1965.000000  1966.000000  1967.000000  1968.000000  1969.000000

                6            7            8            9            10  ...  \
count   104.000000   104.000000   104.000000   104.000000   104.000000  ...
mean     21.457954    21.450334    21.484403    21.564695    21.578155  ...
std     193.093952   193.190567   193.289499   193.390429   193.488012  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000030     0.000060     0.000101     0.000141     0.000133  ...
50%       0.040423     0.035326     0.033842     0.036734     0.043061  ...
75%       0.411479     0.402645     0.389077     0.401279     0.408784  ...
max    1970.000000  1971.000000  1972.000000  1973.000000  1974.000000  ...

                48           49           50           51           52  \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     25.566855    25.665691    25.714606    25.570774    25.500384
std     198.079248   198.217492   198.339915   198.398423   198.482373
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.025463     0.026289     0.030673     0.031682     0.034158
50%       0.150455     0.151607     0.178893     0.172983     0.171107
75%       1.367741     1.350196     1.306688     1.110043     1.231138
max    2012.000000  2013.000000  2014.000000  2015.000000  2016.000000

                53           54           55           56           57
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     25.541107    25.626854    25.534378    25.290867    25.655293
std     198.601610   198.739315   198.844518   198.900617   199.128106
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.035002     0.035494     0.032414     0.029247     0.032036
50%       0.171133     0.176440     0.143265     0.130710     0.135041
75%       1.105719     1.228819     1.194079     1.208853     1.256824
max    2017.000000  2018.000000  2019.000000  2020.000000  2021.000000

[8 rows x 56 columns]

In [ ]:
print(Coal_consumption.isnull().sum())

0     10
1     21
2     21
3     21
4     21
      ..
56    21
57    21
58    20
59    21
60    20
Length: 61, dtype: int64

In [ ]:
#Dropping the empty rows using dropna()
Coal_cons = Coal_consumption.dropna()
Coal_cons.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
4,Canada,0.647949,0.635221,0.629360,0.683746,0.660133,0.708742,0.673656,0.635682,0.654690,...,0.824253,0.767152,0.797777,0.654201,0.612643,0.525541,0.479886,-0.084371,-0.064164,0.002997
5,Mexico,0.028880,0.030805,0.037798,0.039623,0.040165,0.045045,0.056551,0.062502,0.067005,...,0.531542,0.520680,0.636310,0.567164,0.541493,0.239368,0.231587,-0.029856,-0.093311,0.001446
6,US,11.607279,12.171046,11.941188,12.359075,12.410055,12.292774,11.625123,12.104731,13.001364,...,15.584680,14.258668,13.869334,13.282051,11.341655,9.202254,10.571573,0.15195,-0.060362,0.06603
7,Total North America,12.284108,12.837073,12.608346,13.082445,13.110353,13.046560,12.355330,12.802915,13.723059,...,16.940475,15.546500,15.303421,14.503416,12.495792,9.967162,11.283046,0.135123,-0.061349,0.070473
9,Argentina,0.030438,0.025099,0.028225,0.027429,0.032840,0.042201,0.036999,0.031145,0.034187,...,0.056931,0.043879,0.045091,0.049353,0.029246,0.036055,0.065714,0.827591,0.022457,0.00041
10,Brazil,0.072641,0.078712,0.081350,0.080052,0.089346,0.102041,0.102717,0.108129,0.106267,...,0.737932,0.666539,0.702989,0.687523,0.646245,0.587278,0.712471,0.216498,0.009714,0.00445
11,Chile,0.048776,0.050242,0.050242,0.050242,0.050242,0.053717,0.051874,0.042873,0.046557,...,0.306197,0.310538,0.322883,0.311622,0.313504,0.263325,0.264675,0.007881,0.009351,0.001653
12,Colombia,0.084322,0.084322,0.092528,0.084280,0.089974,0.093910,0.073031,0.075879,0.077275,...,0.208008,0.228769,0.174341,0.163665,0.203533,0.170927,0.132720,-0.221403,-0.020317,0.000829
13,Ecuador,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000540,0.000317,0.000341,0.001167,0.000358,0.001011,0.001979,0.96398,0.175894,0.000012

In [ ]:
print(Coal_cons.isnull().sum())

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [ ]:
#Setting the first row as the columns header and then dropping that row 
Coal_cons.columns = Coal_cons.iloc[0]
Coal_cons.reset_index(drop=True, inplace=True)
Coal_cons = Coal_cons.drop(axis=1, index=0)
Coal_cons.head(15)

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-21,2021
1,Canada,0.647949,0.635221,0.629360,0.683746,0.660133,0.708742,0.673656,0.635682,0.654690,...,0.824253,0.767152,0.797777,0.654201,0.612643,0.525541,0.479886,-0.084371,-0.064164,0.002997
2,Mexico,0.028880,0.030805,0.037798,0.039623,0.040165,0.045045,0.056551,0.062502,0.067005,...,0.531542,0.520680,0.636310,0.567164,0.541493,0.239368,0.231587,-0.029856,-0.093311,0.001446
3,US,11.607279,12.171046,11.941188,12.359075,12.410055,12.292774,11.625123,12.104731,13.001364,...,15.584680,14.258668,13.869334,13.282051,11.341655,9.202254,10.571573,0.15195,-0.060362,0.06603
4,Total North America,12.284108,12.837073,12.608346,13.082445,13.110353,13.046560,12.355330,12.802915,13.723059,...,16.940475,15.546500,15.303421,14.503416,12.495792,9.967162,11.283046,0.135123,-0.061349,0.070473
5,Argentina,0.030438,0.025099,0.028225,0.027429,0.032840,0.042201,0.036999,0.031145,0.034187,...,0.056931,0.043879,0.045091,0.049353,0.029246,0.036055,0.065714,0.827591,0.022457,0.00041
6,Brazil,0.072641,0.078712,0.081350,0.080052,0.089346,0.102041,0.102717,0.108129,0.106267,...,0.737932,0.666539,0.702989,0.687523,0.646245,0.587278,0.712471,0.216498,0.009714,0.00445
7,Chile,0.048776,0.050242,0.050242,0.050242,0.050242,0.053717,0.051874,0.042873,0.046557,...,0.306197,0.310538,0.322883,0.311622,0.313504,0.263325,0.264675,0.007881,0.009351,0.001653
8,Colombia,0.084322,0.084322,0.092528,0.084280,0.089974,0.093910,0.073031,0.075879,0.077275,...,0.208008,0.228769,0.174341,0.163665,0.203533,0.170927,0.132720,-0.221403,-0.020317,0.000829
9,Ecuador,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000540,0.000317,0.000341,0.001167,0.000358,0.001011,0.001979,0.96398,0.175894,0.000012
10,Peru,0.001511,0.001906,0.002146,0.002129,0.003588,0.003640,0.005105,0.005523,0.006317,...,0.033927,0.041004,0.041724,0.046850,0.047925,0.042283,0.046202,0.095683,0.03041,0.000289
11,Trinidad & Tobago,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-,-,0
12,Venezuela,0.000837,0.000879,0.000921,0.000963,0.001005,0.001005,0.005974,0.006294,0.011405,...,0.005502,0.006174,0.003430,0.001372,0.001827,0.000724,0.000401,-0.44458,-0.263953,0.000003
13,Central America,0.000013,0.000066,0.000092,0.000068,0.000120,0.000040,0.000066,0.000290,0.000416,...,0.053289,0.058372,0.041409,0.052030,0.070812,0.065537,0.086953,0.330421,0.141111,0.000543
14,Other Caribbean,0.002093,0.002093,0.002093,0.002093,0.002093,0.001675,0.001382,0.001382,0.001172,...,0.080193,0.080594,0.073627,0.077311,0.107997,0.147280,0.149660,0.018941,0.066348,0.000935
15,Other South America,0.001323,0.001114,0.001269,0.001034,0.000967,0.001200,0.001122,0.001091,0.000938,...,0.000504,0.000493,0.000498,0.000562,0.001035,0.000363,0.000534,0.47532,0.077411,0.000003

In [ ]:
#dropping the last 3 columns which have calculated data that and is't part of the yearly energy consumption
Coal_cons = Coal_cons.iloc[:, :-3]
Coal_cons.head()

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Canada,0.647949,0.635221,0.629360,0.683746,0.660133,0.708742,0.673656,0.635682,0.654690,...,0.883475,0.861613,0.819357,0.824253,0.767152,0.797777,0.654201,0.612643,0.525541,0.479886
2,Mexico,0.028880,0.030805,0.037798,0.039623,0.040165,0.045045,0.056551,0.062502,0.067005,...,0.537358,0.533616,0.532580,0.531542,0.520680,0.636310,0.567164,0.541493,0.239368,0.231587
3,US,11.607279,12.171046,11.941188,12.359075,12.410055,12.292774,11.625123,12.104731,13.001364,...,17.418257,18.080177,18.039082,15.584680,14.258668,13.869334,13.282051,11.341655,9.202254,10.571573
4,Total North America,12.284108,12.837073,12.608346,13.082445,13.110353,13.046560,12.355330,12.802915,13.723059,...,18.839090,19.475406,19.391018,16.940475,15.546500,15.303421,14.503416,12.495792,9.967162,11.283046
5,Argentina,0.030438,0.025099,0.028225,0.027429,0.032840,0.042201,0.036999,0.031145,0.034187,...,0.049209,0.053781,0.057210,0.056931,0.043879,0.045091,0.049353,0.029246,0.036055,0.065714

In [10]:
#Changing the first column's name from : "Exajoules" to "Country"
Coal_cons.rename(columns={"Exajoules": "Country"}, inplace=True)

#Reviewing the columns names
Coal_cons.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [11]:
#Changing the type of the years column headers from float to integer
Coal_cons.columns = [int(col) if isinstance(col, float) else col for col in Coal_cons.columns]
Coal_cons.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Coal_cons.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    # Extracting the region name when finding a total row
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assigning this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx) :
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1  # move start index to next group

In [13]:
# Create new DataFrame from cleaned list
Coal_cons = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [14]:
# Getting all year columns
year_columns = [col for col in Coal_cons.columns if isinstance(col, int)]

In [ ]:
long_coal = pd.melt(
    Coal_cons,
    id_vars=['Country', 'Region'],          # keeping country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Coal Consumption (EJ)'    # name for the values
)

In [16]:
#Save this Dataset 
long_coal.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_coal_consumption.csv', index=False)