In [1]:
#pip install openpyxl

In [ ]:
# import pandas and load the sheet
import pandas as pd
Energy_Cons_capita = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Primary Energy - Cons capita', header=None)

In [15]:
Energy_Cons_capita.head(10)

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,Primary energy: Consumption per capita*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum
2,Gigajoule per capita,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,254.765501,266.506272,273.884776,286.535667,298.843064,314.715327,319.365424,338.316122,361.768600,...,407.870536,407.455230,397.320492,398.957235,396.666196,389.093750,363.392752,364.381047,0.005467,-0.011375
5,Mexico,23.931966,24.562952,24.268953,25.626723,27.276620,28.246534,28.814801,30.910362,32.371299,...,64.121765,63.251435,63.302503,63.482622,62.500016,59.346603,49.808074,52.052896,0.047933,-0.02397
6,US,260.261186,271.875488,278.574433,292.459203,304.827820,312.825050,316.582176,329.398219,340.290333,...,293.297751,288.196937,285.708916,284.786346,293.450671,289.834197,267.098694,279.885479,0.050744,-0.005961
7,Total North America,220.275582,229.372752,234.189642,245.005263,254.624280,261.073880,263.423405,273.792459,282.921064,...,243.692854,239.809754,237.254484,236.660230,241.883772,237.932669,218.183725,227.008350,0.043296,-0.008612
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,53.370352,54.280788,55.038897,56.067526,57.081952,53.286126,55.607838,55.407248,56.967009,...,82.620678,83.180662,81.959759,81.071442,79.719730,74.742460,70.083852,75.177291,0.075615,-0.005099

In [16]:
Energy_Cons_capita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 60 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       111 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      104 non-null    object
 59  59      105 non-null    object
dtypes: float64(56), object(4)
memory usage: 56.8+ KB

In [ ]:
print(Energy_Cons_capita.isnull().sum())

0     10
1     17
2     17
3     17
4     17
5     17
6     17
7     17
8     17
9     17
10    17
11    16
12    17
13    17
14    17
15    17
16    17
17    17
18    17
19    17
20    17
21    17
22    17
23    17
24    17
25    17
26    17
27    17
28    17
29    17
30    17
31    17
32    17
33    17
34    17
35    17
36    17
37    17
38    17
39    17
40    17
41    17
42    17
43    17
44    17
45    17
46    17
47    17
48    17
49    17
50    17
51    17
52    17
53    17
54    17
55    17
56    17
57    17
58    17
59    16
dtype: int64

In [ ]:
#Dropping the empty rows using dropna()
Energy_Cons_capita = Energy_Cons_capita.dropna()
Energy_Cons_capita.head(10)

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
2,Gigajoule per capita,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-2021
4,Canada,254.765501,266.506272,273.884776,286.535667,298.843064,314.715327,319.365424,338.316122,361.768600,...,407.870536,407.455230,397.320492,398.957235,396.666196,389.093750,363.392752,364.381047,0.005467,-0.011375
5,Mexico,23.931966,24.562952,24.268953,25.626723,27.276620,28.246534,28.814801,30.910362,32.371299,...,64.121765,63.251435,63.302503,63.482622,62.500016,59.346603,49.808074,52.052896,0.047933,-0.02397
6,US,260.261186,271.875488,278.574433,292.459203,304.827820,312.825050,316.582176,329.398219,340.290333,...,293.297751,288.196937,285.708916,284.786346,293.450671,289.834197,267.098694,279.885479,0.050744,-0.005961
7,Total North America,220.275582,229.372752,234.189642,245.005263,254.624280,261.073880,263.423405,273.792459,282.921064,...,243.692854,239.809754,237.254484,236.660230,241.883772,237.932669,218.183725,227.008350,0.043296,-0.008612
9,Argentina,53.370352,54.280788,55.038897,56.067526,57.081952,53.286126,55.607838,55.407248,56.967009,...,82.620678,83.180662,81.959759,81.071442,79.719730,74.742460,70.083852,75.177291,0.075615,-0.005099
10,Brazil,11.825463,12.551370,12.659447,14.078890,14.975461,16.950975,18.085981,20.345070,23.669886,...,62.710787,60.567746,58.738557,58.902914,58.674976,59.435003,56.411480,58.675718,0.042988,-0.00165
11,Chile,29.243787,30.789310,30.852863,30.221880,32.031028,33.265931,35.403319,36.018510,34.095308,...,83.934138,85.089383,88.362768,88.189492,90.673888,91.690499,84.028152,84.907812,0.013237,-0.000432
12,Colombia,17.090884,18.089666,18.722831,19.195000,19.028809,20.243859,19.436937,21.333081,20.850167,...,36.413426,36.394274,37.699211,37.530719,37.760231,38.417730,34.067442,37.636452,0.10779,0.01269
13,Ecuador,5.942994,6.075643,6.383925,7.320165,7.553357,8.762499,9.353120,9.495974,9.878856,...,42.554907,41.757101,40.910177,41.729073,43.418629,43.826453,37.207057,42.671875,0.150018,0.009343

In [ ]:
print(Energy_Cons_capita.isnull().sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
dtype: int64

In [ ]:
#Setting the first row as the columns header and then dropping that row 
Energy_Cons_capita.columns = Energy_Cons_capita.iloc[0]
Energy_Cons_capita.reset_index(drop=True, inplace=True)
Energy_Cons_capita= Energy_Cons_capita.drop(axis=1, index=0)
Energy_Cons_capita.head(15)

2,Gigajoule per capita,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-2021
1,Canada,254.765501,266.506272,273.884776,286.535667,298.843064,314.715327,319.365424,338.316122,361.768600,...,407.870536,407.455230,397.320492,398.957235,396.666196,389.093750,363.392752,364.381047,0.005467,-0.011375
2,Mexico,23.931966,24.562952,24.268953,25.626723,27.276620,28.246534,28.814801,30.910362,32.371299,...,64.121765,63.251435,63.302503,63.482622,62.500016,59.346603,49.808074,52.052896,0.047933,-0.02397
3,US,260.261186,271.875488,278.574433,292.459203,304.827820,312.825050,316.582176,329.398219,340.290333,...,293.297751,288.196937,285.708916,284.786346,293.450671,289.834197,267.098694,279.885479,0.050744,-0.005961
4,Total North America,220.275582,229.372752,234.189642,245.005263,254.624280,261.073880,263.423405,273.792459,282.921064,...,243.692854,239.809754,237.254484,236.660230,241.883772,237.932669,218.183725,227.008350,0.043296,-0.008612
5,Argentina,53.370352,54.280788,55.038897,56.067526,57.081952,53.286126,55.607838,55.407248,56.967009,...,82.620678,83.180662,81.959759,81.071442,79.719730,74.742460,70.083852,75.177291,0.075615,-0.005099
6,Brazil,11.825463,12.551370,12.659447,14.078890,14.975461,16.950975,18.085981,20.345070,23.669886,...,62.710787,60.567746,58.738557,58.902914,58.674976,59.435003,56.411480,58.675718,0.042988,-0.00165
7,Chile,29.243787,30.789310,30.852863,30.221880,32.031028,33.265931,35.403319,36.018510,34.095308,...,83.934138,85.089383,88.362768,88.189492,90.673888,91.690499,84.028152,84.907812,0.013237,-0.000432
8,Colombia,17.090884,18.089666,18.722831,19.195000,19.028809,20.243859,19.436937,21.333081,20.850167,...,36.413426,36.394274,37.699211,37.530719,37.760231,38.417730,34.067442,37.636452,0.10779,0.01269
9,Ecuador,5.942994,6.075643,6.383925,7.320165,7.553357,8.762499,9.353120,9.495974,9.878856,...,42.554907,41.757101,40.910177,41.729073,43.418629,43.826453,37.207057,42.671875,0.150018,0.009343
10,Peru,17.365033,20.523302,20.326419,20.139573,19.742332,19.804631,20.182599,17.614672,19.670184,...,32.747272,33.885525,35.633703,36.088713,37.410360,37.883903,31.515214,36.046296,0.146908,0.014775
11,Trinidad & Tobago,132.770404,140.117557,148.390950,152.054847,155.734873,170.147462,170.103124,231.453937,226.324850,...,605.431680,584.012889,515.432304,544.361361,513.342571,498.478238,432.909596,438.312352,0.015254,-0.033897
12,Venezuela,71.123115,69.433558,70.825811,73.980347,72.458821,70.909382,69.944333,71.788080,79.788411,...,117.771170,115.984635,101.736970,104.190707,87.175306,73.272130,67.710372,70.772875,0.048093,-0.052117
13,Central America,10.544009,10.261233,10.445604,10.544424,10.758751,10.970278,11.075299,11.447655,12.185538,...,25.042017,26.888924,27.617698,27.946329,27.185251,27.944145,25.181939,27.902907,0.111088,0.013901
14,Other Caribbean,35.661611,36.212998,36.979988,37.095809,37.353318,42.015825,42.740943,44.788318,47.435618,...,36.620711,37.405231,38.602963,37.489409,38.452142,39.541962,34.775129,38.950875,0.123147,-0.001018
15,Other South America,14.859785,16.197657,16.051932,16.230938,16.991829,17.445873,17.979824,18.092897,18.694373,...,55.575110,55.659733,59.626505,58.089605,58.213907,54.638229,49.187700,49.255344,0.004119,-0.012784

In [ ]:
#dropping the last 3 columns which have calculated data that and is't part of the yearly energy consumption
Energy_Cons_capita = Energy_Cons_capita.iloc[:, :-2]
Energy_Cons_capita.head()

2,Gigajoule per capita,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Canada,254.765501,266.506272,273.884776,286.535667,298.843064,314.715327,319.365424,338.316122,361.768600,...,405.427189,410.908638,407.870536,407.455230,397.320492,398.957235,396.666196,389.093750,363.392752,364.381047
2,Mexico,23.931966,24.562952,24.268953,25.626723,27.276620,28.246534,28.814801,30.910362,32.371299,...,65.828599,65.235210,64.121765,63.251435,63.302503,63.482622,62.500016,59.346603,49.808074,52.052896
3,US,260.261186,271.875488,278.574433,292.459203,304.827820,312.825050,316.582176,329.398219,340.290333,...,287.009810,292.574130,293.297751,288.196937,285.708916,284.786346,293.450671,289.834197,267.098694,279.885479
4,Total North America,220.275582,229.372752,234.189642,245.005263,254.624280,261.073880,263.423405,273.792459,282.921064,...,240.118915,243.910390,243.692854,239.809754,237.254484,236.660230,241.883772,237.932669,218.183725,227.008350
5,Argentina,53.370352,54.280788,55.038897,56.067526,57.081952,53.286126,55.607838,55.407248,56.967009,...,81.358084,83.737072,82.620678,83.180662,81.959759,81.071442,79.719730,74.742460,70.083852,75.177291

In [ ]:
#Changing the first column's name to "Country"
Energy_Cons_capita.rename(columns={"Gigajoule per capita": "Country"}, inplace=True)
Energy_Cons_capita.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [23]:
#Changing the type of the years column headers from float to integer
Energy_Cons_capita.columns = [int(col) if isinstance(col, float) else col for col in Energy_Cons_capita.columns]
Energy_Cons_capita.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Energy_Cons_capita.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    # When we hit a total row
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assign this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx):
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1  # move start index to next group

In [25]:
# Create new DataFrame from cleaned list
Energy_Cons_capita = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [ ]:
# Get all year columns
year_columns = [col for col in Energy_Cons_capita.columns if isinstance(col, int)]

In [27]:
long_energy = pd.melt(
    Energy_Cons_capita,
    id_vars=['Country', 'Region'],          # keep country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Energy Consumption per Capita (GJ)'    # name for the values
)

In [29]:
long_energy.head()

     Country              Region  Year  Energy Consumption per Capita (GJ)
0     Canada       North America  1965                          254.765501
1     Mexico       North America  1965                           23.931966
2         US       North America  1965                          260.261186
3  Argentina  S. & Cent. America  1965                           53.370352
4     Brazil  S. & Cent. America  1965                           11.825463

In [28]:
#Save this Dataset 
long_energy.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_energy_consumption_per_capita.csv', index=False)