In [1]:
# import pandas and load the first sheet "Gas consumption"
import pandas as pd
Gas_consumption = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Gas Consumption - EJ', header=None)

In [2]:
Gas_consumption.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Natural Gas: Consumption*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,0.780063,0.854010,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,...,3.971968,3.779613,3.956576,4.162679,4.222535,4.077486,4.290044,0.055012,0.017132,0.029516
5,Mexico,0.290329,0.306408,0.263507,0.282932,0.350894,0.358830,0.372940,0.398807,0.441885,...,2.908185,2.989081,3.097207,3.153089,3.167039,3.014298,3.176138,0.056578,0.022236,0.021852
6,US,14.973142,16.137922,17.039478,18.240534,19.634785,20.695170,21.335494,21.553072,21.376654,...,26.768862,26.967562,26.639721,29.581740,30.624902,29.948490,29.761828,-0.00351,0.023056,0.204762
7,Total North America,16.043534,17.298340,18.209888,19.533340,21.114266,22.300819,23.039229,23.448741,23.410385,...,33.649015,33.736256,33.693504,36.897509,38.014475,37.040273,37.228010,0.007822,0.022284,0.256129
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,0.148442,0.160766,0.168118,0.187198,0.186498,0.210760,0.227530,0.255328,0.290548,...,1.679492,1.735560,1.738801,1.753277,1.676121,1.581525,1.653666,0.048479,0.00468,0.011377

In [3]:
print(Gas_consumption.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       114 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      105 non-null    object
 59  59      104 non-null    object
 60  60      106 non-null    object
dtypes: float64(56), object(5)
memory usage: 59.2+ KB
None

In [4]:
print(Gas_consumption.describe())

                1            2            3            4            5   \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     19.779771    19.869332    19.951629    20.058661    20.183123
std     192.628671   192.724511   192.820529   192.916520   193.012924
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.001894     0.002301     0.003206     0.005050     0.007981
75%       0.053382     0.062378     0.069867     0.083506     0.101859
max    1965.000000  1966.000000  1967.000000  1968.000000  1969.000000

                6            7            8            9            10  ...  \
count   104.000000   104.000000   104.000000   104.000000   104.000000  ...
mean     20.306705    20.416357    20.511881    20.599819    20.654874  ...
std     193.109491   193.206139   193.302778   193.398687   193.494175  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.011740     0.013764     0.017525     0.019961     0.023545  ...
75%       0.129166     0.136681     0.154224     0.198208     0.264072  ...
max    1970.000000  1971.000000  1972.000000  1973.000000  1974.000000  ...

                48           49           50           51           52  \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     24.074543    24.155675    24.180069    24.309140    24.435856
std     197.389023   197.498264   197.602580   197.716890   197.831107
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.139703     0.141769     0.140513     0.149685     0.142383
50%       0.614869     0.610981     0.593535     0.629959     0.625176
75%       1.872403     1.769034     1.760312     1.694937     1.787639
max    2012.000000  2013.000000  2014.000000  2015.000000  2016.000000

                53           54           55           56           57
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     24.585454    24.845602    24.957816    24.879373    25.160316
std     197.949671   198.096259   198.213110   198.296137   198.443093
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.159898     0.159285     0.169399     0.165513     0.168842
50%       0.658046     0.660402     0.695823     0.652283     0.650206
75%       1.874737     2.082675     2.044261     2.078281     2.230181
max    2017.000000  2018.000000  2019.000000  2020.000000  2021.000000

[8 rows x 56 columns]

In [ ]:
print(Gas_consumption.isnull().sum())

0     10
1     20
2     20
3     20
4     20
      ..
56    20
57    20
58    19
59    20
60    18
Length: 61, dtype: int64

In [ ]:
#Dropping the empty rows using dropna()
Gas_cons = Gas_consumption.dropna()
Gas_cons.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
4,Canada,0.780063,0.854010,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,...,3.971968,3.779613,3.956576,4.162679,4.222535,4.077486,4.290044,0.055012,0.017132,0.029516
5,Mexico,0.290329,0.306408,0.263507,0.282932,0.350894,0.358830,0.372940,0.398807,0.441885,...,2.908185,2.989081,3.097207,3.153089,3.167039,3.014298,3.176138,0.056578,0.022236,0.021852
6,US,14.973142,16.137922,17.039478,18.240534,19.634785,20.695170,21.335494,21.553072,21.376654,...,26.768862,26.967562,26.639721,29.581740,30.624902,29.948490,29.761828,-0.00351,0.023056,0.204762
7,Total North America,16.043534,17.298340,18.209888,19.533340,21.114266,22.300819,23.039229,23.448741,23.410385,...,33.649015,33.736256,33.693504,36.897509,38.014475,37.040273,37.228010,0.007822,0.022284,0.256129
9,Argentina,0.148442,0.160766,0.168118,0.187198,0.186498,0.210760,0.227530,0.255328,0.290548,...,1.679492,1.735560,1.738801,1.753277,1.676121,1.581525,1.653666,0.048479,0.00468,0.011377
10,Brazil,0.001848,0.002161,0.002443,0.002582,0.002721,0.002920,0.004598,0.006314,0.007226,...,1.545715,1.335164,1.354753,1.292069,1.286401,1.131253,1.456072,0.290659,0.039396,0.010018
11,Chile,0.022240,0.023225,0.020586,0.017595,0.023155,0.023120,0.023577,0.021466,0.016856,...,0.173674,0.212987,0.202125,0.202920,0.234470,0.224476,0.225808,0.008692,0.007229,0.001554
12,Colombia,0.032224,0.033611,0.041580,0.042377,0.046275,0.044976,0.046816,0.057187,0.059256,...,0.403622,0.434465,0.425899,0.458278,0.463348,0.472416,0.454559,-0.035165,0.040185,0.003127
13,Ecuador,0.000000,0.000000,0.000000,0.000000,0.000000,0.002512,0.002512,0.003643,0.002093,...,0.029557,0.031907,0.029637,0.026189,0.023385,0.019866,0.019791,-0.001063,-0.001983,0.000136

In [ ]:
print(Gas_cons.isnull().sum())

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [ ]:
#Setting the first row as the columns header and then dropping that row 
Gas_cons.columns = Gas_cons.iloc[0]
Gas_cons.reset_index(drop=True, inplace=True)
Gas_cons = Gas_cons.drop(axis=1, index=0)
Gas_cons.head(15)

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-21,2021
1,Canada,0.780063,0.854010,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,...,3.971968,3.779613,3.956576,4.162679,4.222535,4.077486,4.290044,0.055012,0.017132,0.029516
2,Mexico,0.290329,0.306408,0.263507,0.282932,0.350894,0.358830,0.372940,0.398807,0.441885,...,2.908185,2.989081,3.097207,3.153089,3.167039,3.014298,3.176138,0.056578,0.022236,0.021852
3,US,14.973142,16.137922,17.039478,18.240534,19.634785,20.695170,21.335494,21.553072,21.376654,...,26.768862,26.967562,26.639721,29.581740,30.624902,29.948490,29.761828,-0.00351,0.023056,0.204762
4,Total North America,16.043534,17.298340,18.209888,19.533340,21.114266,22.300819,23.039229,23.448741,23.410385,...,33.649015,33.736256,33.693504,36.897509,38.014475,37.040273,37.228010,0.007822,0.022284,0.256129
5,Argentina,0.148442,0.160766,0.168118,0.187198,0.186498,0.210760,0.227530,0.255328,0.290548,...,1.679492,1.735560,1.738801,1.753277,1.676121,1.581525,1.653666,0.048479,0.00468,0.011377
6,Brazil,0.001848,0.002161,0.002443,0.002582,0.002721,0.002920,0.004598,0.006314,0.007226,...,1.545715,1.335164,1.354753,1.292069,1.286401,1.131253,1.456072,0.290659,0.039396,0.010018
7,Chile,0.022240,0.023225,0.020586,0.017595,0.023155,0.023120,0.023577,0.021466,0.016856,...,0.173674,0.212987,0.202125,0.202920,0.234470,0.224476,0.225808,0.008692,0.007229,0.001554
8,Colombia,0.032224,0.033611,0.041580,0.042377,0.046275,0.044976,0.046816,0.057187,0.059256,...,0.403622,0.434465,0.425899,0.458278,0.463348,0.472416,0.454559,-0.035165,0.040185,0.003127
9,Ecuador,0.000000,0.000000,0.000000,0.000000,0.000000,0.002512,0.002512,0.003643,0.002093,...,0.029557,0.031907,0.029637,0.026189,0.023385,0.019866,0.019791,-0.001063,-0.001983,0.000136
10,Peru,0.013167,0.013756,0.012855,0.014310,0.014588,0.014310,0.017082,0.016424,0.016078,...,0.275153,0.305759,0.269710,0.288909,0.295606,0.256689,0.288857,0.128402,0.024597,0.001987
11,Trinidad & Tobago,0.041140,0.048326,0.053338,0.055964,0.056246,0.068831,0.067086,0.069339,0.066593,...,0.705772,0.610001,0.660576,0.625491,0.629039,0.546683,0.561487,0.029892,-0.026877,0.003863
12,Venezuela,0.270649,0.283796,0.310969,0.320999,0.330349,0.308092,0.298581,0.296783,0.365594,...,1.333376,1.340594,1.389794,1.138288,0.920744,0.776199,0.863177,0.115102,-0.032389,0.005939
13,Central America,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.006544,0.017254,0.012798,0.010099,-0.208672,-,0.000069
14,Other Caribbean,0.000105,0.000105,0.000105,0.000105,0.000105,0.000158,0.000315,0.000338,0.000650,...,0.132330,0.137770,0.129934,0.147876,0.178448,0.165788,0.216044,0.306702,0.081322,0.001486
15,Other South America,0.001940,0.002441,0.002562,0.002378,0.003470,0.001157,0.001251,0.001821,0.002125,...,0.123607,0.126378,0.128650,0.134772,0.136222,0.111902,0.130948,0.173413,0.017842,0.000901

In [ ]:
#dropping the last 3 columns which have calculated data that and is't part of the yearly energy consumption
Gas_cons=Gas_cons.iloc[:, :-3]
Gas_cons.head()

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Canada,0.780063,0.854010,0.906902,1.009875,1.128587,1.246819,1.330795,1.496861,1.591845,...,3.579247,3.795865,3.954295,3.971968,3.779613,3.956576,4.162679,4.222535,4.077486,4.290044
2,Mexico,0.290329,0.306408,0.263507,0.282932,0.350894,0.358830,0.372940,0.398807,0.441885,...,2.651536,2.800622,2.838544,2.908185,2.989081,3.097207,3.153089,3.167039,3.014298,3.176138
3,US,14.973142,16.137922,17.039478,18.240534,19.634785,20.695170,21.335494,21.553072,21.376654,...,24.772420,25.452822,26.001376,26.768862,26.967562,26.639721,29.581740,30.624902,29.948490,29.761828
4,Total North America,16.043534,17.298340,18.209888,19.533340,21.114266,22.300819,23.039229,23.448741,23.410385,...,31.003203,32.049310,32.794215,33.649015,33.736256,33.693504,36.897509,38.014475,37.040273,37.228010
5,Argentina,0.148442,0.160766,0.168118,0.187198,0.186498,0.210760,0.227530,0.255328,0.290548,...,1.643912,1.656997,1.661579,1.679492,1.735560,1.738801,1.753277,1.676121,1.581525,1.653666

In [ ]:
#Changing the first column's name from : "Exajoules" to "Country"
Gas_cons.rename(columns={"Exajoules": "Country"}, inplace=True)
Gas_cons.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [11]:
#Changing the type of the years column headers from float to integer
Gas_cons.columns = [int(col) if isinstance(col, float) else col for col in Gas_cons.columns]
Gas_cons.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Gas_cons.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    # Extracting the region name when finding a total row
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assigning this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx) :
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1  # move start index to next group

In [13]:
# Create new DataFrame from cleaned list
Gas_cons = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [14]:
# Getting all year columns
year_columns = [col for col in Gas_cons.columns if isinstance(col, int)]

In [15]:

long_gas = pd.melt(
    Gas_cons,
    id_vars=['Country', 'Region'],          # keeping country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Gas Consumption (EJ)'    # name for the values
)

In [16]:
#Save this Dataset 
long_gas.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_gas_consumption.csv', index=False)