In [1]:
# import pandas and load the first sheet as 'Oil consumption"
import pandas as pd
Oil_consumption = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Oil Consumption - EJ', header=None)

In [2]:
Oil_consumption.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Oil: Consumption*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.634678,...,4.626155,4.614516,4.574403,4.734882,4.697818,4.113048,4.169663,0.016542,-0.00926,0.022635
5,Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,...,3.704738,3.731628,3.593102,3.505452,3.236313,2.465847,2.559650,0.040885,-0.043019,0.013895
6,US,23.092117,24.232483,25.159659,26.848660,28.194616,29.434289,30.462062,32.831686,34.758920,...,35.606588,35.861674,36.207991,37.079030,37.022156,32.516631,35.326948,0.089404,0.001216,0.191772
7,Total North America,26.048676,27.343805,28.483836,30.403937,31.908750,33.402479,34.567095,37.223131,39.532082,...,43.937482,44.207818,44.375496,45.319364,44.956287,39.095526,42.056260,0.078678,-0.003255,0.228301
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,0.990746,1.021919,1.046606,1.068417,1.108794,1.002319,1.067356,1.062622,1.070060,...,1.394311,1.351059,1.335230,1.271559,1.169001,1.070558,1.226142,0.148468,0.000173,0.006656

In [3]:
print(Oil_consumption.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       113 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      105 non-null    object
 59  59      104 non-null    object
 60  60      105 non-null    object
dtypes: float64(56), object(5)
memory usage: 58.7+ KB
None

In [4]:
print(Oil_consumption.describe())

                1            2            3            4            5   \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     21.518169    21.728507    21.943349    22.213038    22.502614
std     192.626828   192.735628   192.846852   192.966055   193.090062
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.055206     0.072134     0.072962     0.078177     0.083684
50%       0.170799     0.192032     0.211464     0.228547     0.251238
75%       0.688872     0.724093     0.818213     0.870073     0.945821
max    1965.000000  1966.000000  1967.000000  1968.000000  1969.000000

                6            7            8            9            10  ...  \
count   104.000000   104.000000   104.000000   104.000000   104.000000  ...
mean     22.833488    23.061109    23.380940    23.745398    23.675923  ...
std     193.221662   193.344687   193.486195   193.638325   193.714848  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.090927     0.095801     0.109712     0.120542     0.129955  ...
50%       0.275152     0.293168     0.332199     0.358054     0.363077  ...
75%       1.051924     1.110726     1.136147     1.199044     1.177878  ...
max    1970.000000  1971.000000  1972.000000  1973.000000  1974.000000  ...

                48           49           50           51           52  \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     26.353914    26.428475    26.476989    26.623548    26.770811
std     197.851960   197.969119   198.079689   198.218951   198.356606
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.383577     0.360235     0.374854     0.377236     0.377558
50%       0.748378     0.761656     0.800199     0.868274     0.858676
75%       3.092717     3.028074     3.022440     2.982495     3.032799
max    2012.000000  2013.000000  2014.000000  2015.000000  2016.000000

                53           54           55           56           57
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     26.888710    27.000547    27.025977    26.316552    26.722811
std     198.487480   198.618981   198.725172   198.634965   198.839446
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.398421     0.405820     0.394263     0.364978     0.376553
50%       0.903613     0.900701     0.891467     0.773356     0.826744
75%       3.112965     3.145467     3.060580     2.519988     2.627292
max    2017.000000  2018.000000  2019.000000  2020.000000  2021.000000

[8 rows x 56 columns]

In [ ]:
print(Oil_consumption.isnull().sum())

0     10
1     19
2     19
3     19
4     19
      ..
56    19
57    19
58    18
59    19
60    18
Length: 61, dtype: int64

In [ ]:
#Dropping the empty rows using dropna()
Oil_cons = Oil_consumption.dropna()
Oil_cons.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
4,Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.634678,...,4.626155,4.614516,4.574403,4.734882,4.697818,4.113048,4.169663,0.016542,-0.00926,0.022635
5,Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,...,3.704738,3.731628,3.593102,3.505452,3.236313,2.465847,2.559650,0.040885,-0.043019,0.013895
6,US,23.092117,24.232483,25.159659,26.848660,28.194616,29.434289,30.462062,32.831686,34.758920,...,35.606588,35.861674,36.207991,37.079030,37.022156,32.516631,35.326948,0.089404,0.001216,0.191772
7,Total North America,26.048676,27.343805,28.483836,30.403937,31.908750,33.402479,34.567095,37.223131,39.532082,...,43.937482,44.207818,44.375496,45.319364,44.956287,39.095526,42.056260,0.078678,-0.003255,0.228301
9,Argentina,0.990746,1.021919,1.046606,1.068417,1.108794,1.002319,1.067356,1.062622,1.070060,...,1.394311,1.351059,1.335230,1.271559,1.169001,1.070558,1.226142,0.148468,0.000173,0.006656
10,Brazil,0.639830,0.697671,0.719970,0.864706,0.948844,1.073586,1.182942,1.360720,1.675194,...,4.942792,4.695720,4.748030,4.510646,4.536582,4.217808,4.456353,0.059451,-0.008044,0.024191
11,Chile,0.149783,0.163974,0.171182,0.180380,0.192076,0.202760,0.224602,0.237929,0.226458,...,0.717930,0.760860,0.728131,0.760379,0.768137,0.701852,0.732118,0.045981,-0.003511,0.003974
12,Colombia,0.165758,0.188919,0.190582,0.212734,0.204372,0.231521,0.239465,0.271538,0.261105,...,0.633223,0.649691,0.632763,0.650808,0.685912,0.556675,0.701082,0.26286,0.029821,0.003806
13,Ecuador,0.028514,0.029771,0.032152,0.038420,0.040655,0.046360,0.051237,0.052674,0.058623,...,0.513576,0.482547,0.471145,0.510121,0.494325,0.397722,0.492280,0.24114,0.007186,0.002672

In [7]:
print(Oil_cons.isnull().sum())

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [8]:
#Setting the first row as the columns header and then dropping that row 
Oil_cons.columns = Oil_cons.iloc[0]
Oil_cons.reset_index(drop=True, inplace=True)
Oil_cons= Oil_cons.drop(axis=1, index=0)
Oil_cons.head(15)

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-21,2021
1,Canada,2.314145,2.438144,2.603182,2.771255,2.885563,3.077281,3.160261,3.327598,3.634678,...,4.626155,4.614516,4.574403,4.734882,4.697818,4.113048,4.169663,0.016542,-0.00926,0.022635
2,Mexico,0.642414,0.673178,0.720995,0.784022,0.828570,0.890909,0.944772,1.063847,1.138484,...,3.704738,3.731628,3.593102,3.505452,3.236313,2.465847,2.559650,0.040885,-0.043019,0.013895
3,US,23.092117,24.232483,25.159659,26.848660,28.194616,29.434289,30.462062,32.831686,34.758920,...,35.606588,35.861674,36.207991,37.079030,37.022156,32.516631,35.326948,0.089404,0.001216,0.191772
4,Total North America,26.048676,27.343805,28.483836,30.403937,31.908750,33.402479,34.567095,37.223131,39.532082,...,43.937482,44.207818,44.375496,45.319364,44.956287,39.095526,42.056260,0.078678,-0.003255,0.228301
5,Argentina,0.990746,1.021919,1.046606,1.068417,1.108794,1.002319,1.067356,1.062622,1.070060,...,1.394311,1.351059,1.335230,1.271559,1.169001,1.070558,1.226142,0.148468,0.000173,0.006656
6,Brazil,0.639830,0.697671,0.719970,0.864706,0.948844,1.073586,1.182942,1.360720,1.675194,...,4.942792,4.695720,4.748030,4.510646,4.536582,4.217808,4.456353,0.059451,-0.008044,0.024191
7,Chile,0.149783,0.163974,0.171182,0.180380,0.192076,0.202760,0.224602,0.237929,0.226458,...,0.717930,0.760860,0.728131,0.760379,0.768137,0.701852,0.732118,0.045981,-0.003511,0.003974
8,Colombia,0.165758,0.188919,0.190582,0.212734,0.204372,0.231521,0.239465,0.271538,0.261105,...,0.633223,0.649691,0.632763,0.650808,0.685912,0.556675,0.701082,0.26286,0.029821,0.003806
9,Ecuador,0.028514,0.029771,0.032152,0.038420,0.040655,0.046360,0.051237,0.052674,0.058623,...,0.513576,0.482547,0.471145,0.510121,0.494325,0.397722,0.492280,0.24114,0.007186,0.002672
10,Peru,0.160747,0.201463,0.203055,0.203854,0.200909,0.210974,0.208833,0.178748,0.211692,...,0.460190,0.490128,0.508560,0.522247,0.542602,0.405811,0.515830,0.27459,0.020861,0.0028
11,Trinidad & Tobago,0.079912,0.080473,0.083959,0.085568,0.089706,0.092019,0.095088,0.154338,0.155326,...,0.094469,0.099988,0.092804,0.087600,0.065969,0.059125,0.053040,-0.100455,-0.050928,0.000288
12,Venezuela,0.403286,0.396379,0.404432,0.440544,0.435231,0.455327,0.459630,0.501310,0.550396,...,1.424492,1.084431,0.998118,0.823591,0.694469,0.568179,0.590307,0.041791,-0.086419,0.003204
13,Central America,0.148974,0.147833,0.153633,0.158459,0.164663,0.171027,0.177466,0.187689,0.206728,...,0.877148,0.908676,0.923489,0.871104,0.936296,0.784826,0.886000,0.132006,0.013616,0.00481
14,Other Caribbean,0.750979,0.777951,0.811269,0.829152,0.850471,0.979084,0.998810,1.069728,1.156562,...,1.280316,1.325202,1.289171,1.315027,1.302927,1.075300,1.198005,0.117165,-0.012335,0.006503
15,Other South America,0.131964,0.134863,0.135230,0.139140,0.148116,0.153627,0.155459,0.163151,0.167559,...,0.401438,0.426758,0.435082,0.450245,0.453473,0.426844,0.462389,0.08624,0.019294,0.00251

In [9]:
#dropping the last 3 columns 
Oil_cons = Oil_cons.iloc[:, :-3]

In [ ]:
#Changing the first column's name to "Country"
Oil_cons.rename(columns={"Exajoules": "Country"}, inplace=True)
Oil_cons.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [11]:
#Changing the type of the years column headers from float to integer
Oil_cons.columns = [int(col) if isinstance(col, float) else col for col in Oil_cons.columns]
Oil_cons.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Oil_cons.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    # When we hit a total row
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assign this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx):
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1  # move start index to next group

In [13]:
# Create new DataFrame from cleaned list
Oil_cons = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [14]:
# Get all year columns (they are usually strings or ints starting from 1965)
year_columns = [col for col in Oil_cons.columns if isinstance(col, int)]

In [15]:
long_oil = pd.melt(
    Oil_cons,
    id_vars=['Country', 'Region'],          # keep country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Oil Consumption (EJ)'    # name for the values
)

In [17]:
#Save this Dataset 
long_oil.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_oil_consumption.csv', index=False)