In [1]:
#pip install openpyxl

In [2]:
# import pandas and load the first sheet "Primary Energy consumption"
import pandas as pd
Energy_consumption = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Primary Energy Consumption', header=None)

In [3]:
Energy_consumption.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Primary Energy: Consumption*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-2021,2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,5.000530,5.323648,5.566649,5.924125,6.283252,6.726828,6.937724,7.467379,8.109156,...,14.547333,14.347036,14.579992,14.702472,14.630404,13.822443,13.936161,0.010989,-0.000665,0.023416
5,Mexico,1.055971,1.118099,1.139578,1.241153,1.362338,1.454515,1.529385,1.690486,1.823291,...,7.719363,7.818505,7.932166,7.897640,7.581279,6.430212,6.788999,0.05869,-0.012357,0.011407
6,US,51.982924,54.890508,56.802742,60.189787,63.300324,65.541021,66.920432,70.250694,73.223265,...,92.689322,92.603345,92.948511,96.344903,95.657980,88.535605,92.971659,0.052982,0.000386,0.156215
7,Total North America,58.039425,61.332256,63.508970,67.355065,70.945914,73.722364,75.387540,79.408559,83.155712,...,114.956019,114.768886,115.460669,118.945015,117.869663,108.788260,113.696819,0.047984,-0.000556,0.191039
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,1.182668,1.220994,1.256476,1.298987,1.342431,1.272503,1.349022,1.365964,1.427392,...,3.587524,3.570089,3.566106,3.540534,3.350906,3.171095,3.432285,0.085332,0.004743,0.005767

In [4]:
print(Energy_consumption.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       112 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      105 non-null    object
 59  59      104 non-null    object
 60  60      105 non-null    object
dtypes: float64(56), object(5)
memory usage: 58.3+ KB
None

In [5]:
print(Energy_consumption.describe())

                1            2            3            4            5   \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     25.215701    25.556477    25.815598    26.246565    26.753374
std     193.205117   193.392231   193.561891   193.789694   194.045686
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.087753     0.099854     0.099327     0.106476     0.118876
50%       0.313408     0.337016     0.357423     0.383164     0.387754
75%       1.487505     1.530435     1.577333     1.693029     1.824636
max    1965.000000  1966.000000  1967.000000  1968.000000  1969.000000

                6            7            8            9            10  ...  \
count   104.000000   104.000000   104.000000   104.000000   104.000000  ...
mean     27.264516    27.610003    28.083787    28.626485    28.686971  ...
std     194.307975   194.517165   194.794702   195.109471   195.205615  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.138808     0.151479     0.167825     0.179738     0.186630  ...
50%       0.426873     0.492937     0.539976     0.603091     0.605919  ...
75%       1.913285     2.018974     2.087220     2.412379     2.567764  ...
max    1970.000000  1971.000000  1972.000000  1973.000000  1974.000000  ...

                48           49           50           51           52  \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     40.268047    40.634011    40.851586    41.046296    41.361364
std     206.664039   207.154498   207.528673   207.817615   208.238914
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.003139     0.965273     0.997049     1.022498     1.070012
50%       1.891342     1.914945     2.035361     2.126908     2.085629
75%       7.204400     7.025018     7.080852     7.182235     7.258974
max    2012.000000  2013.000000  2014.000000  2015.000000  2016.000000

                53           54           55           56           57
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     41.790374    42.406664    42.600735    41.664551    42.901114
std     208.810263   209.613105   209.993426   209.230281   210.710152
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       1.025012     1.107292     1.105678     0.995780     1.052702
50%       2.127020     2.270151     2.165849     1.999430     2.084161
75%       7.526014     7.937095     7.652782     6.596072     6.915294
max    2017.000000  2018.000000  2019.000000  2020.000000  2021.000000

[8 rows x 56 columns]

In [6]:
# Out of 122 entries 104 only are non null, let's check to make sure
# Vérifier s'il y a des valeurs manquantes
print(Energy_consumption.isnull().sum())

0     10
1     18
2     18
3     18
4     18
      ..
56    18
57    18
58    17
59    18
60    17
Length: 61, dtype: int64

In [7]:
#Dropping the empty rows using dropna()
Primary_Energy_consumption = Energy_consumption.dropna()

#Reviewing the table
Primary_Energy_consumption.head(10)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2,Exajoules,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-2021,2021
4,Canada,5.000530,5.323648,5.566649,5.924125,6.283252,6.726828,6.937724,7.467379,8.109156,...,14.547333,14.347036,14.579992,14.702472,14.630404,13.822443,13.936161,0.010989,-0.000665,0.023416
5,Mexico,1.055971,1.118099,1.139578,1.241153,1.362338,1.454515,1.529385,1.690486,1.823291,...,7.719363,7.818505,7.932166,7.897640,7.581279,6.430212,6.788999,0.05869,-0.012357,0.011407
6,US,51.982924,54.890508,56.802742,60.189787,63.300324,65.541021,66.920432,70.250694,73.223265,...,92.689322,92.603345,92.948511,96.344903,95.657980,88.535605,92.971659,0.052982,0.000386,0.156215
7,Total North America,58.039425,61.332256,63.508970,67.355065,70.945914,73.722364,75.387540,79.408559,83.155712,...,114.956019,114.768886,115.460669,118.945015,117.869663,108.788260,113.696819,0.047984,-0.000556,0.191039
9,Argentina,1.182668,1.220994,1.256476,1.298987,1.342431,1.272503,1.349022,1.365964,1.427392,...,3.587524,3.570089,3.566106,3.540534,3.350906,3.171095,3.432285,0.085332,0.004743,0.005767
10,Brazil,0.985931,1.075609,1.114485,1.272550,1.388923,1.612263,1.763074,2.031646,2.420471,...,12.397218,12.121817,12.254150,12.302588,12.555419,12.000911,12.565610,0.049923,0.006336,0.021113
11,Chile,0.262890,0.281810,0.287305,0.286166,0.308308,0.325445,0.352005,0.363919,0.350017,...,1.524457,1.599609,1.614974,1.685140,1.735036,1.619843,1.663830,0.029969,0.012724,0.002796
12,Colombia,0.320031,0.348764,0.371414,0.391457,0.398510,0.434839,0.427690,0.480345,0.480065,...,1.729481,1.816163,1.835620,1.871680,1.929538,1.733450,1.923512,0.112684,0.024162,0.003232
13,Ecuador,0.031165,0.032805,0.035495,0.041911,0.044530,0.053183,0.058433,0.061053,0.065347,...,0.676966,0.674654,0.700439,0.741212,0.760705,0.656448,0.762231,0.164325,0.025472,0.001281

In [ ]:
print(Primary_Energy_consumption.isnull().sum())

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [ ]:
#Setting the first row as the columns header and then dropping that row 
Primary_Energy_consumption.columns = Primary_Energy_consumption.iloc[0]
Primary_Energy_consumption.reset_index(drop=True, inplace=True)
Primary_Energy_consumption= Primary_Energy_consumption.drop(axis=1, index=0)
Primary_Energy_consumption.head(15)

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-2021,2021
1,Canada,5.000530,5.323648,5.566649,5.924125,6.283252,6.726828,6.937724,7.467379,8.109156,...,14.547333,14.347036,14.579992,14.702472,14.630404,13.822443,13.936161,0.010989,-0.000665,0.023416
2,Mexico,1.055971,1.118099,1.139578,1.241153,1.362338,1.454515,1.529385,1.690486,1.823291,...,7.719363,7.818505,7.932166,7.897640,7.581279,6.430212,6.788999,0.05869,-0.012357,0.011407
3,US,51.982924,54.890508,56.802742,60.189787,63.300324,65.541021,66.920432,70.250694,73.223265,...,92.689322,92.603345,92.948511,96.344903,95.657980,88.535605,92.971659,0.052982,0.000386,0.156215
4,Total North America,58.039425,61.332256,63.508970,67.355065,70.945914,73.722364,75.387540,79.408559,83.155712,...,114.956019,114.768886,115.460669,118.945015,117.869663,108.788260,113.696819,0.047984,-0.000556,0.191039
5,Argentina,1.182668,1.220994,1.256476,1.298987,1.342431,1.272503,1.349022,1.365964,1.427392,...,3.587524,3.570089,3.566106,3.540534,3.350906,3.171095,3.432285,0.085332,0.004743,0.005767
6,Brazil,0.985931,1.075609,1.114485,1.272550,1.388923,1.612263,1.763074,2.031646,2.420471,...,12.397218,12.121817,12.254150,12.302588,12.555419,12.000911,12.565610,0.049923,0.006336,0.021113
7,Chile,0.262890,0.281810,0.287305,0.286166,0.308308,0.325445,0.352005,0.363919,0.350017,...,1.524457,1.599609,1.614974,1.685140,1.735036,1.619843,1.663830,0.029969,0.012724,0.002796
8,Colombia,0.320031,0.348764,0.371414,0.391457,0.398510,0.434839,0.427690,0.480345,0.480065,...,1.729481,1.816163,1.835620,1.871680,1.929538,1.733450,1.923512,0.112684,0.024162,0.003232
9,Ecuador,0.031165,0.032805,0.035495,0.041911,0.044530,0.053183,0.058433,0.061053,0.065347,...,0.676966,0.674654,0.700439,0.741212,0.760705,0.656448,0.762231,0.164325,0.025472,0.001281
10,Peru,0.203369,0.247219,0.251781,0.256487,0.258483,0.266566,0.279254,0.250515,0.287496,...,1.032516,1.102008,1.134784,1.195392,1.229814,1.039116,1.199657,0.15766,0.027912,0.002016
11,Trinidad & Tobago,0.121052,0.128799,0.137296,0.141531,0.145952,0.160850,0.162577,0.224079,0.222252,...,0.800290,0.710039,0.753429,0.713135,0.695053,0.605853,0.614571,0.017169,-0.029231,0.001033
12,Venezuela,0.689345,0.695904,0.733737,0.791758,0.800544,0.808111,0.821563,0.868470,0.993662,...,3.489029,3.036976,3.063465,2.518244,2.089417,1.925409,2.031533,0.058009,-0.052719,0.003413
13,Central America,0.163422,0.163792,0.171673,0.178380,0.187286,0.196444,0.203940,0.216690,0.237027,...,1.266223,1.320645,1.356780,1.339656,1.397433,1.277668,1.435581,0.126674,0.029387,0.002412
14,Other Caribbean,0.789571,0.817824,0.851065,0.869452,0.891423,1.021004,1.057728,1.128755,1.217129,...,1.543561,1.600475,1.560570,1.607188,1.659466,1.465347,1.651023,0.129798,0.004298,0.002774
15,Other South America,0.146942,0.163286,0.164936,0.169921,0.181116,0.189173,0.198152,0.202510,0.212446,...,1.241205,1.345949,1.327075,1.345648,1.277760,1.163581,1.178145,0.015291,-0.000826,0.00198

In [ ]:
#dropping the last 3 columns which have calculated data that and is't part of the yearly energy consumption
Primary_Energy_consumption=Primary_Energy_consumption.iloc[:, :-3]
Primary_Energy_consumption.head()

2,Exajoules,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Canada,5.000530,5.323648,5.566649,5.924125,6.283252,6.726828,6.937724,7.467379,8.109156,...,14.074089,14.415887,14.453892,14.547333,14.347036,14.579992,14.702472,14.630404,13.822443,13.936161
2,Mexico,1.055971,1.118099,1.139578,1.241153,1.362338,1.454515,1.529385,1.690486,1.823291,...,7.731668,7.763675,7.729462,7.719363,7.818505,7.932166,7.897640,7.581279,6.430212,6.788999
3,US,51.982924,54.890508,56.802742,60.189787,63.300324,65.541021,66.920432,70.250694,73.223265,...,90.172312,92.619900,93.586385,92.689322,92.603345,92.948511,96.344903,95.657980,88.535605,92.971659
4,Total North America,58.039425,61.332256,63.508970,67.355065,70.945914,73.722364,75.387540,79.408559,83.155712,...,111.978068,114.799462,115.769739,114.956019,114.768886,115.460669,118.945015,117.869663,108.788260,113.696819
5,Argentina,1.182668,1.220994,1.256476,1.298987,1.342431,1.272503,1.349022,1.365964,1.427392,...,3.401830,3.538283,3.527488,3.587524,3.570089,3.566106,3.540534,3.350906,3.171095,3.432285

In [ ]:
#Changing the first column's name to "Country"
Primary_Energy_consumption.rename(columns={"Exajoules": "Country"}, inplace=True)

Primary_Energy_consumption.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [12]:
#Changing the type of the years column headers from float to integer
Primary_Energy_consumption.columns = [int(col) if isinstance(col, float) else col for col in Primary_Energy_consumption.columns]
Primary_Energy_consumption.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Primary_Energy_consumption.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assign this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx):
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1

In [ ]:
Primary_Energy_consumption = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [ ]:
# Get all year columns 
year_columns = [col for col in Primary_Energy_consumption.columns if isinstance(col, int)]

In [16]:
long_energy = pd.melt(
    Primary_Energy_consumption,
    id_vars=['Country', 'Region'],          # keep country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Energy Consumption (EJ)'    # name for the values
)

In [17]:
#Save this Dataset 
long_energy.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_energy_consumption.csv', index=False)