In [ ]:
# import pandas and load the sheet "Renewables Consumption - EJ"
import pandas as pd
Renewables_consumption = pd.read_excel("C:/Users/pc/Desktop/+++/2ème année Génie Chimique/S3/Raffinage du pétrole (4)/séminaire/sources utilisées/done/bp-stats-review-2022-all-data.xlsx", sheet_name='Renewables Consumption - EJ', header=None)

In [ ]:
Renewables_consumption.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,Renewables: Consumption*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
2,Exajoules (input-equivalent),1965.000000,1966.000000,1967.000000,1968.00000,1969.00000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.479167,0.539728,0.546012,0.560954,0.559492,0.567030,0.577714,0.021635,0.073341,0.014474
5,Mexico,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.001645,...,0.167712,0.183550,0.200374,0.238633,0.310510,0.354623,0.386763,0.093619,0.153967,0.00969
6,US,0.152955,0.161343,0.161301,0.17806,0.18564,0.185864,0.189839,0.212603,0.227078,...,4.533438,5.130288,5.598032,5.879746,6.201846,6.651187,7.479601,0.127632,0.086969,0.187399
7,Total North America,0.152955,0.161343,0.161301,0.17806,0.18564,0.185864,0.189839,0.212603,0.228723,...,5.180317,5.853566,6.344419,6.679334,7.071848,7.572840,8.444079,0.118103,0.088218,0.211564
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Argentina,0.000000,0.000000,0.000000,0.00000,0.00000,0.000646,0.000678,0.000874,0.000689,...,0.077803,0.076234,0.088320,0.096095,0.138651,0.162436,0.204243,0.260818,0.155649,0.005117

In [3]:
print(Renewables_consumption.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       115 non-null    object
 1   1       104 non-null    float64
 2   2       104 non-null    float64
 3   3       104 non-null    float64
 4   4       104 non-null    float64
 5   5       104 non-null    float64
 6   6       104 non-null    float64
 7   7       104 non-null    float64
 8   8       104 non-null    float64
 9   9       104 non-null    float64
 10  10      104 non-null    float64
 11  11      105 non-null    object
 12  12      104 non-null    float64
 13  13      104 non-null    float64
 14  14      104 non-null    float64
 15  15      104 non-null    float64
 16  16      104 non-null    float64
 17  17      104 non-null    float64
 18  18      104 non-null    float64
 19  19      104 non-null    float64
 20  20      104 non-null    float64
 21  21      104 non-null    float64
 22  22      104 non-null    float64
 23  23      104 non-null    float64
 24  24      104 non-null    float64
 25  25      104 non-null    float64
 26  26      104 non-null    float64
 27  27      104 non-null    float64
 28  28      104 non-null    float64
 29  29      104 non-null    float64
 30  30      104 non-null    float64
 31  31      104 non-null    float64
 32  32      104 non-null    float64
 33  33      104 non-null    float64
 34  34      104 non-null    float64
 35  35      104 non-null    float64
 36  36      104 non-null    float64
 37  37      104 non-null    float64
 38  38      104 non-null    float64
 39  39      104 non-null    float64
 40  40      104 non-null    float64
 41  41      104 non-null    float64
 42  42      104 non-null    float64
 43  43      104 non-null    float64
 44  44      104 non-null    float64
 45  45      104 non-null    float64
 46  46      104 non-null    float64
 47  47      104 non-null    float64
 48  48      104 non-null    float64
 49  49      104 non-null    float64
 50  50      104 non-null    float64
 51  51      104 non-null    float64
 52  52      104 non-null    float64
 53  53      104 non-null    float64
 54  54      104 non-null    float64
 55  55      104 non-null    float64
 56  56      104 non-null    float64
 57  57      104 non-null    float64
 58  58      105 non-null    object
 59  59      104 non-null    object
 60  60      105 non-null    object
dtypes: float64(56), object(5)
memory usage: 59.7+ KB
None

In [4]:
print(Renewables_consumption.describe())

                1            2            3            4            5   \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     18.903518    18.914077    18.923839    18.934457    18.944631
std     192.683187   192.781152   192.879196   192.977155   193.075159
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max    1965.000000  1966.000000  1967.000000  1968.000000  1969.000000

                6            7            8            9            10  ...  \
count   104.000000   104.000000   104.000000   104.000000   104.000000  ...
mean     18.955693    18.966376    18.976997    18.987569    18.998086  ...
std     193.173074   193.271027   193.368987   193.466952   193.564921  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
50%       0.000000     0.000000     0.000000     0.000000     0.000000  ...
75%       0.000000     0.000859     0.000980     0.001388     0.001620  ...
max    1970.000000  1971.000000  1972.000000  1973.000000  1974.000000  ...

                48           49           50           51           52  \
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     19.923041    20.012416    20.094772    20.198613    20.291059
std     197.244771   197.337520   197.430965   197.523474   197.617114
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.002888     0.003306     0.003549     0.004437     0.005511
50%       0.024029     0.028097     0.032749     0.037051     0.038155
75%       0.141711     0.146962     0.165880     0.181989     0.211330
max    2012.000000  2013.000000  2014.000000  2015.000000  2016.000000

                53           54           55           56           57
count   104.000000   104.000000   104.000000   104.000000   104.000000
mean     20.431551    20.565127    20.703169    20.835705    21.043925
std     197.708949   197.801983   197.895624   197.990518   198.086201
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.006837     0.009315     0.011510     0.014372     0.015626
50%       0.045240     0.052468     0.059883     0.091972     0.101571
75%       0.239149     0.287160     0.327910     0.356896     0.431736
max    2017.000000  2018.000000  2019.000000  2020.000000  2021.000000

[8 rows x 56 columns]

In [ ]:
print(Renewables_consumption.isnull().sum())

0     10
1     21
2     21
3     21
4     21
      ..
56    21
57    21
58    20
59    21
60    20
Length: 61, dtype: int64

In [ ]:
#Dropping the empty rows using dropna()
Renewables_cons = Renewables_consumption.dropna()

#Reviewing the table
Renewables_cons.head(7)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2,Exajoules (input-equivalent),1965.000000,1966.000000,1967.000000,1968.00000,1969.00000,1970.000000,1971.000000,1972.000000,1973.000000,...,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2021,2011-21,2021
4,Canada,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.479167,0.539728,0.546012,0.560954,0.559492,0.567030,0.577714,0.021635,0.073341,0.014474
5,Mexico,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.001645,...,0.167712,0.183550,0.200374,0.238633,0.310510,0.354623,0.386763,0.093619,0.153967,0.00969
6,US,0.152955,0.161343,0.161301,0.17806,0.18564,0.185864,0.189839,0.212603,0.227078,...,4.533438,5.130288,5.598032,5.879746,6.201846,6.651187,7.479601,0.127632,0.086969,0.187399
7,Total North America,0.152955,0.161343,0.161301,0.17806,0.18564,0.185864,0.189839,0.212603,0.228723,...,5.180317,5.853566,6.344419,6.679334,7.071848,7.572840,8.444079,0.118103,0.088218,0.211564
9,Argentina,0.000000,0.000000,0.000000,0.00000,0.00000,0.000646,0.000678,0.000874,0.000689,...,0.077803,0.076234,0.088320,0.096095,0.138651,0.162436,0.204243,0.260818,0.155649,0.005117
10,Brazil,0.000000,0.000000,0.000000,0.00000,0.00000,0.010028,0.012957,0.016975,0.015536,...,1.546108,1.606715,1.750156,1.964293,2.163666,2.189435,2.390030,0.09461,0.099457,0.059882
11,Chile,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000758,0.000655,0.000586,...,0.097652,0.125458,0.157521,0.187659,0.215466,0.224827,0.285487,0.273291,0.183547,0.007153
12,Colombia,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.051451,0.052326,0.053380,0.059348,0.060166,0.062237,0.071285,0.148527,0.054414,0.001786
13,Ecuador,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.006328,0.007286,0.006855,0.006785,0.008584,0.007787,0.007267,-0.064244,0.081734,0.000182

In [7]:
#Checking if there are still empty rows
print(Renewables_cons.isnull().sum())

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [ ]:
#Setting the first row as the columns header and then dropping that row 
Renewables_cons.columns = Renewables_cons.iloc[0]
Renewables_cons.reset_index(drop=True, inplace=True)
Renewables_cons = Renewables_cons.drop(axis=1, index=0)
Renewables_cons.head()

2,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2021,2011-21,2021
1,Canada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.479167,0.539728,0.546012,0.560954,0.559492,0.567030,0.577714,0.021635,0.073341,0.014474
2,Mexico,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001645,...,0.167712,0.183550,0.200374,0.238633,0.310510,0.354623,0.386763,0.093619,0.153967,0.00969
3,US,0.152955,0.161343,0.161301,0.178060,0.185640,0.185864,0.189839,0.212603,0.227078,...,4.533438,5.130288,5.598032,5.879746,6.201846,6.651187,7.479601,0.127632,0.086969,0.187399
4,Total North America,0.152955,0.161343,0.161301,0.178060,0.185640,0.185864,0.189839,0.212603,0.228723,...,5.180317,5.853566,6.344419,6.679334,7.071848,7.572840,8.444079,0.118103,0.088218,0.211564
5,Argentina,0.000000,0.000000,0.000000,0.000000,0.000000,0.000646,0.000678,0.000874,0.000689,...,0.077803,0.076234,0.088320,0.096095,0.138651,0.162436,0.204243,0.260818,0.155649,0.005117
6,Brazil,0.000000,0.000000,0.000000,0.000000,0.000000,0.010028,0.012957,0.016975,0.015536,...,1.546108,1.606715,1.750156,1.964293,2.163666,2.189435,2.390030,0.09461,0.099457,0.059882
7,Chile,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000758,0.000655,0.000586,...,0.097652,0.125458,0.157521,0.187659,0.215466,0.224827,0.285487,0.273291,0.183547,0.007153
8,Colombia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.051451,0.052326,0.053380,0.059348,0.060166,0.062237,0.071285,0.148527,0.054414,0.001786
9,Ecuador,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.006328,0.007286,0.006855,0.006785,0.008584,0.007787,0.007267,-0.064244,0.081734,0.000182
10,Peru,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002609,0.002609,0.002643,...,0.033607,0.032510,0.036238,0.044624,0.045121,0.045910,0.047845,0.044998,0.112475,0.001199
11,Trinidad & Tobago,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000402,0.000402,0.000333,...,0.000050,0.000050,0.000049,0.000044,0.000044,0.000044,0.000044,-0.00366,0.010176,0.000001
12,Venezuela,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000748,0.000976,0.001138,0.001132,0.001350,0.000946,0.000941,-0.003167,0.413283,0.000024
13,Central America,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001230,0.001620,0.001345,...,0.117743,0.133037,0.131006,0.153301,0.168250,0.159873,0.171139,0.073402,0.094894,0.004288
14,Other Caribbean,0.032508,0.033155,0.033781,0.034394,0.035006,0.035627,0.047408,0.047418,0.049644,...,0.037511,0.038461,0.041954,0.043785,0.054603,0.060157,0.068584,0.143214,0.099686,0.001718
15,Other South America,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000644,0.000678,0.000701,...,0.061905,0.073809,0.083285,0.094152,0.097109,0.106276,0.107013,0.009693,0.176156,0.002681

In [ ]:
#dropping the last 3 columns which have calculated data and  isn't part of the yearly energy consumption
Renewables_cons=Renewables_cons.iloc[:, :-3]
Renewables_cons.head()

2,Exajoules (input-equivalent),1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
1,Canada,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.324632,0.328183,0.338006,0.479167,0.539728,0.546012,0.560954,0.559492,0.567030,0.577714
2,Mexico,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.001645,...,0.107320,0.117916,0.140657,0.167712,0.183550,0.200374,0.238633,0.310510,0.354623,0.386763
3,US,0.152955,0.161343,0.161301,0.17806,0.18564,0.185864,0.189839,0.212603,0.227078,...,3.504625,3.992820,4.302805,4.533438,5.130288,5.598032,5.879746,6.201846,6.651187,7.479601
4,Total North America,0.152955,0.161343,0.161301,0.17806,0.18564,0.185864,0.189839,0.212603,0.228723,...,3.936578,4.438919,4.781468,5.180317,5.853566,6.344419,6.679334,7.071848,7.572840,8.444079
5,Argentina,0.000000,0.000000,0.000000,0.00000,0.00000,0.000646,0.000678,0.000874,0.000689,...,0.059665,0.065908,0.073247,0.077803,0.076234,0.088320,0.096095,0.138651,0.162436,0.204243

In [ ]:
#Changing the first column's name to "Country"
Renewables_cons.rename(columns={"Exajoules (input-equivalent)": "Country"}, inplace=True)

#Reviewing the columns names
Renewables_cons.columns

Index(['Country',    1965.0,    1966.0,    1967.0,    1968.0,    1969.0,
          1970.0,    1971.0,    1972.0,    1973.0,    1974.0,      1975,
          1976.0,    1977.0,    1978.0,    1979.0,    1980.0,    1981.0,
          1982.0,    1983.0,    1984.0,    1985.0,    1986.0,    1987.0,
          1988.0,    1989.0,    1990.0,    1991.0,    1992.0,    1993.0,
          1994.0,    1995.0,    1996.0,    1997.0,    1998.0,    1999.0,
          2000.0,    2001.0,    2002.0,    2003.0,    2004.0,    2005.0,
          2006.0,    2007.0,    2008.0,    2009.0,    2010.0,    2011.0,
          2012.0,    2013.0,    2014.0,    2015.0,    2016.0,    2017.0,
          2018.0,    2019.0,    2020.0,    2021.0],
      dtype='object', name=2)

In [11]:
#Changing the type of the years column headers from float to integer
Renewables_cons.columns = [int(col) if isinstance(col, float) else col for col in Renewables_cons.columns]
Renewables_cons.columns

Index(['Country',      1965,      1966,      1967,      1968,      1969,
            1970,      1971,      1972,      1973,      1974,      1975,
            1976,      1977,      1978,      1979,      1980,      1981,
            1982,      1983,      1984,      1985,      1986,      1987,
            1988,      1989,      1990,      1991,      1992,      1993,
            1994,      1995,      1996,      1997,      1998,      1999,
            2000,      2001,      2002,      2003,      2004,      2005,
            2006,      2007,      2008,      2009,      2010,      2011,
            2012,      2013,      2014,      2015,      2016,      2017,
            2018,      2019,      2020,      2021],
      dtype='object')

In [ ]:
cleaned_rows = []
rows = Renewables_cons.reset_index(drop=True)

start_idx = 0

for idx, row in rows.iterrows():
    country = row['Country']
    # Extracting the region name when finding a total row
    if str(country).startswith("Total "):
        region = country.replace("Total ", "").strip()
        # Assigning this region to all rows from start_idx to idx - 1
        for j in range(start_idx, idx) :
            country_row = rows.iloc[j].copy()
            country_row['Region'] = region
            cleaned_rows.append(country_row)
        start_idx = idx + 1

In [13]:
# Create new DataFrame from cleaned list
Renewables_cons = pd.DataFrame(cleaned_rows).reset_index(drop=True)

In [14]:
# Getting all year columns
year_columns = [col for col in Renewables_cons.columns if isinstance(col, int)]

In [15]:

long_Renewables = pd.melt(
    Renewables_cons,
    id_vars=['Country', 'Region'],          # keeping country and region
    value_vars=year_columns,                # years become rows
    var_name='Year',                        # new column name for former columns
    value_name='Renewables Consumption (EJ)'    # name for the values
)

In [16]:
#Save this Dataset 
long_Renewables.to_csv('C:/Users/pc/Desktop/Formation Data Analyst/Projet/New Dataset/total_yearly_Renewables_consumption.csv', index=False)